body{
    background-color: lightcyan;
}

.div-container{
    display: flex;
}

div{
    display: flex;
    justify-content: center;
}
.div2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem{
    display: inline;
    background-color: black;
}